:root {
    --thistle: #D7C6E8;
    --white: #FFFFFF;
    --lavender-blush: #F1E7F1;
    --purple: #6C209E;
    --tangerine: #F48A1E;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    color: black;
    align-items: center;
}

#header {
    background-image: url(../images/background2.jpg); 
    background-attachment:scroll;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
}
/* .logo { */
    /* align-self: center; */
    /* border-radius: 100%; */
    /* padding: 0;
    margin: 0; */
    /* background: var(--white); */
    /* box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid none solid none;
    border-width: 1.5px;
    border-color: var(--purple); */
/* } */

#small-logo {
    min-width: 12%;
    max-width: 12%;
    border-radius: 100%;
    box-shadow: inset 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--purple);
    margin-top: 3%;
}

#big-logo {
    margin-top: 5%;
    min-width: 40%;
    max-width: 40%;
}

#serving {
    font-family: 'Yellowtail', cursive;
    font-size: 1.25vh;
    padding: 20%;
    margin-bottom: 5%;
    margin-right: 5%;
    white-space: nowrap;
    text-align: start;
    /* margin-top: 5%; */
}

#serving h2 {
    margin: 0;
}

#info {
    background: var(--lavender-blush);
    box-shadow: inset 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 2px;
    border-color: var(--purple);
}

#phone-number {
    min-width: 33%;
    max-width: 33%;
    margin-bottom: 2.5%;
    margin-top: 3%;
}

@media screen and (min-width: 720px) {
    #serving {
        font-size: 2.5vh;
    }
}